.v-table th {
  color: #00000099;
  font-weight: bold;
}

.v-table--striped-odd > .v-table__wrapper > table > tbody > tr:nth-child(odd) {
  background-image: none !important;
  background-color: #f5fbff !important;
}